<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://www.example.org/model"
            class="Script.ScriptPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated workflow -->
      <package
            uri="http://www.example.org/model"
            class="Workflow.WorkflowPackage"
            genModel="model/workflow.genmodel"/>
   </extension>

</plugin>
